---
import Card from "../components/Card.astro";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import { loadQuery } from "../sanity/lib/load-query";
import type { Post } from "../utils/sanity";
import { getPosts } from "../utils/queries";

const { data: posts } = await loadQuery<Post[]>({
  query: getPosts,
});
---

<Layout title="Astro Playground">
  <section>
    {posts.length ? posts.map((post) => <Card post={post} />) : <Welcome />}
  </section>
</Layout>
